.row
{
    margin-left: 20px;
}

.movies
{
    display: flex;
    padding: 20px;
    overflow-x: scroll;
    overflow-y: hidden;

}
.movies::-webkit-scrollbar
{
    display: none;
}
.movie
{
    width: 230px;
    max-height: 150px;
    margin-right: 10px;
    transition: transform 450ms;

}
.largeMovie
{
    max-height: 250px;
}

.movie:hover
{
    transform: scale(1.05);
}